@model WebApplication.Modules.Presupuesto.Presupuesto

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Base.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-title">
                <h5>Eliminar Presupuesto</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <form method="post" id="form" class="form-horizontal">
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.Rut)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Rut)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Cliente)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Cliente)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.EstadoPresupuesto)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EstadoPresupuesto)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Lugar)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Lugar)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DiasAviles)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DiasAviles)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Fecha)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Fecha)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions ">
                            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                            @Html.ActionLink("Atras", "RegistroPresupuesto", new { @class = "btn btn-success" }, new { @class = "btn btn-success" })
                        </div>


                    }


                </form>
            </div>
        </div>
    </div>

</div>
